body{
	font-family: inherit;
	font-size: 20px;
	color: black;
	background-color: white;
	margin: 0px;
	padding: 10px 20px 30px 40px;
			}
h1, h2, h3{text-align: center;
		}
a:link { color: #0c6dff;
			background-color: transparent;
			text-decoration: underline;

			}
a:visited { color: #0EBA33;
			background-color: transparent;
			text-decoration: underline;
			}
}

menu{
	display: block;
	background-color: #3bcee5;
}

}

body {

0%  {background: #3bcee5;}
/* blue */
20%  {background: #57f25c;}
/* green */
40%  {background: #d1d1d1;}
/* grey */
60%  {background: white;}
}
