body{
	font-family: verdana;
	font-size: 18px;
	color: black;
	background-color: white;
	margin: 0px;
	padding: 10px 20px 30px 40px;
		}

h1, h2{
	text-align: center;
		}

b {
	color: #3bcee5;
	background-color: transparent;
	text-decoration: underline;
	}

.topnav {
    background-color: #3bcee5;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 214.3px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #57f25c;
    color: white;
}

p {
	margin-left: 10%;
	margin-right: 10%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}
*/
/* body {

0%  {background: #3bcee5;}
 blue
20%  {background: #57f25c;}
 green
40%  {background: #d1d1d1;}
 grey
60%  {background: white;}
} */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.button1{
    background-color: #3bcee5;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.button2 {
    background-color: #57f25c;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
	/* #current_day { background-color:yellow; font-weight: bold; } */
