body{
	font-family: verdana;
	font-size: 18px;
	color: black;
	background-color: white;
	margin: 0px;
	padding: 10px 20px 30px 40px;
		}

h1, h2{
	text-align: center;
		}

b {
	color: #3bcee5;
	background-color: transparent;
	text-decoration: underline;
	}

.topnav {
    background-color: #3bcee5;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 216.8px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #57f25c;
    color: white;
}

p {
	margin-left: 10%;
	margin-right: 10%;
}

<<<<<<< HEAD
=======
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

>>>>>>> a59722c6e6e4bbe5a89b812388e620e9cc19dc99
/* body {

0%  {background: #3bcee5;}
 blue
20%  {background: #57f25c;}
 green
40%  {background: #d1d1d1;}
 grey
60%  {background: white;}
} */
.button1 {
    background-color: #3bcee5;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: none;
}
.button2 {
    background-color: #57f25c;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: none;
}
